@using Zee.DTOs.RequestModels
@model Zee.DTOs.ResponseModels.CustomerResponseModel





<form class="all-container"  asp-action="Update" method="post">
        <div class="registration-container">
            <input  for="FirstName" name="FirstName"  type="text" value="@Model.Data.UserDto.FirstName" placeholder="First Name">
            <input for="LastName" name="LastName"  type="text" value="@Model.Data.UserDto.LastName" placeholder="Last Name">
            </div>
            <input value="@Model.Data.UserDto.PhoneNumber" for="PhoneNumber" name="PhoneNumber"  type="text" placeholder="Phone Number" maxlength="11">
            </div>

        <div class="button-container Register">
            <button>Submit</button>
        </div>
    </form>
    
   