@using Zee.DTOs
@model Zee.DTOs.ResponseModels.CustomerResponseModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
    <link rel="stylesheet" href="~/lib/bootstarp/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>


<div class="info">
    <div>
        <label>
            NAME: @Model.Data.UserDto.LastName @Model.Data.UserDto.FirstName
        </label>
    </div>

    <div>
        <label>
            EMAIL: @Model.Data.UserDto.Email
        </label>
    </div>


    <div>
        <label>
            PHONE NUMBER: @Model.Data.UserDto.PhoneNumber
        </label>
    </div>

    
</div>

<div class="btn-group">
    <a class="update btn-warning btn" asp-controller="Customer" asp-action="Update" asp-route-id=@Model.Data.Id>Edit</a>
</div>

<footer class="footer-container">
            &copy;  2022 GetItAll || All Rights Reserved
     </footer>
